name: Publish NPM Package

on:
  push:
    branches:
      - main

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: 'latest'
        registry-url: 'https://registry.npmjs.org/'

    - name: Install dependencies with Bun
      run: bun install

    - name: Auto increment patch version in package.json
      run: bun run update-version

    - name: Build package with Bun
      run: bun run build

    - name: Publish to npm
      run: npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}